body {
  background: #040b10;
}

.table,
p {
  color: #fff;
}

.navbar-dark {
  background: #081824 !important;
}

.nav-item {
  padding: 13px 9px;
}

a.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  background: #0b2231;
  border-radius: 8px;
  color: #9ac9e3;
}

.btn-mry,
.btn-mry:hover {
  border: 1px solid rgb(11 34 49/1);
  border-radius: 0.5rem;
  background: #040b10;
  color: #fff;
  padding: 10px 18px;
}

.mry-card {
  background: #0b2231;
  color: #fff;
}

.img-thumbnail {
  padding: 0;
  background-color: none;
  border: none;
  border-radius: 0;
}

.card-link {
  color: #9ac9e3;
}

.card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list-form {
  background: #0b2231;
  border-radius: 10px;
}

input.form-control,
input.form-control:focus {
  background: #040b10;
  color: #fff;
  padding: 10px 18px;
  border: 1px solid rgb(11 34 49/1);
}