body {
  background: #040b10;
}

.table,
p {
  color: #fff;
}

.navbar-dark {
  background: #081824 !important;
}

.nav-item {
  padding: 13px 9px;
}

a.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  background: #0b2231;
  border-radius: 8px;
  color: #9ac9e3;
}

.btn-mry,
.btn-mry:hover {
  border: 1px solid rgb(11 34 49/1);
  border-radius: 0.5rem;
  background: #040b10;
  color: #fff;
  padding: 10px 18px;
}
.text-error {
  margin-top: 4px;
  color: red;
}

.mry-card {
  background: #0b2231;
  color: #fff;
}

.img-thumbnail {
  padding: 0;
  background-color: none;
  border: none;
  border-radius: 0;
}

.card-link {
  color: #9ac9e3;
}

.card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list-form {
  background: #0b2231;
  border-radius: 10px;
  margin-right: 10px;
}

input.form-control,
input.form-control:focus {
  background: #040b10;
  color: #fff;
  padding: 10px 18px;
  border: 1px solid rgb(11 34 49/1);
}

.Toastify .Toastify__toast {
  background-color: #081824;
  border-radius: 12px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
}

.Toastify .Toastify__toast-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.Toastify .Toastify__toast--default {
  color: #ecf4fb;
}

.Toastify .Toastify__toast--warning {
  color: #ffe318;
}

.Toastify .Toastify__toast--success {
  color: #52ae6c;
}

.Toastify .toast-success-buy-ticket {
  margin-top: 100px;
  color: #5b5b7b;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  background-color: #ffffff;
}

.Toastify .Toastify__toast--info {
  color: #ecf4fb;
}

.Toastify .Toastify__toast--error {
  color: #c62828;
}

.Toastify .Toastify__close-button {
  color: white;
  align-self: center;
}
.Toastify .Toastify__close-button svg {
  height: 18px;
  width: 18px;
}